{% extends "base.html" %}
{% block title %}Agregar Alumno{% endblock %}

{% block content %}
<h1>Agregar Alumno</h1>
<form method="POST" class="mt-3">
    <div class="mb-3">
        <label for="nombre_completo" class="form-label">Nombre completo</label>
        <input type="text" id="nombre_completo" name="nombre_completo" class="form-control"
               placeholder="Ej. Juan Pérez López" maxlength="150" required>
    </div>
    <div class="mb-3">
        <label for="nie" class="form-label">NIE</label>
        <input type="text" id="nie" name="nie" class="form-control"
               placeholder="Ej. 78945612" maxlength="15" required>
    </div>
    <div class="mb-3">
        <div class="mb-3">
        <label for="genero" class="form-label">Género</label>
        <select id="genero" name="genero" class="form-select" required>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
        </select>
    </div>
        <label for="id_seccion" class="form-label">Sección</label>
        <select id="id_seccion" name="id_seccion" class="form-select" required>
            <option value="" disabled selected>Selecciona una sección</option>
            {% for s in secciones %}
            <option value="{{ s.id_seccion }}">{{ s.codigo_seccion }} - {{ s.especialidad }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="id_responsable" class="form-label">Responsable (opcional)</label>
        <select id="id_responsable" name="id_responsable" class="form-select">
            <option value="">Sin responsable asignado</option>
            {% for r in responsables %}
            <option value="{{ r.id_responsable }}">{{ r.nombre_completo }} ({{ r.parentesco }})</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{{ url_for('alumnos') }}" class="btn btn-secondary">Volver</a>
</form>
{% endblock %}